body{
  text-align: center;
  height: 100vh;
  background-color: #2E2E2E;
  color: #D2D9D9;
}

h1 {
  
}

label {
  color: #D2D9D9;
}

li {
  margin: 15px auto;
  padding: 10px;
  text-align: left;
  background-color: white;
}

ul {
  margin: auto;
  padding: 0;
  width: 40%;
  color: black;
  border: 8px solid #1B1B1B;
  border-radius: 10px;
  background-color: #D9D9D9;
  list-style: none;
  animation: fadeIn 1000ms;
}

.form {
  margin: 20px auto;
  padding: 0;
  color: #2E2E2E;
}

p{
  font-weight: bolder;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
